.navUl li 
{
    color: black;
}

.nav-text
{
    text-transform: none;
}

@media (min-width:1081px) {
    /*pour les autres écran plus conséquents*/

    .navGeneral
    {
        position: fixed;
        padding-bottom: 1%;
        border-style: none;
        padding-right: 3%;
        top: 0%;
        width: 100%;
        left: 0;
        z-index: 3;
        background-color: white;
        border-bottom-style: solid;
        border-color: rgba(175,175,175,0.7);
        box-shadow: 2px 0px 8px rgb(200,200,200);
    }

    .navUl
    {
        display: flex;
        flex-direction: row;
    }

    .navUl li:nth-child(1) 
    {
        margin-left: -60%;
        margin-right: 60%;
    }
}



@media (max-width:1080px) {
    /* pour les tablettes et moyen écrans */
    .navGeneral
    {
        position: fixed;
        border-style: none;
        top: 0%;
        width: 100%;
        left: 0;
        z-index: 3;
        background-color: white;
        border-bottom-style: solid;
        border-color: rgba(175,175,175,0.7);
        box-shadow: 2px 0px 8px rgb(200,200,200);
    }
    
    
    .navUl
    {
        display: flex;
        flex-direction: row;
    }
    .navGeneral li i,
    .navGeneral span
    {
        color: black;
    }

    .navUl li:nth-child(1) 
    {
        
        margin-left: -50%;
        margin-right: 40%;
    }

    #sideMenuDisplayer 
    {
        visibility: visible;
    }

    .nav-text
    {
        visibility: visible;
    }

}


@media (max-width:762px) {
    /* pour les smart phone et petits écrans: */
    .navGeneral
    {
        position: fixed;
        border-style: none;
        top: 0;
        width: 100%;
        height: 10mm;
        left: 0;
        z-index: 3;
        background-color: white;
        border-bottom-style: solid;
        border-color: rgba(175,175,175,0.7);
        box-shadow: 2px 0px 8px rgb(200,200,200);
    }

    .navGeneral li i,
    .navGeneral span
    {
        color: black;
    }

    
    .navUl li:nth-child(1) 
    {
        margin-left: -50%;
        margin-right: 40%;
    }


    .navUl
    {
        display: flex;
        flex-direction: row;
    }

    #sideMenuDisplayer 
    {
        visibility: visible;
    }

}



#sideMenuDisplayer
{
    cursor: pointer;
}