#tbody td 
{
    text-align: left;
    font-weight: bolder;
}

.card-content
{
    overflow-y: auto;   
}


.table-header
{
    background-color: rgb(18, 22, 247);

    border-style: none;
    position: absolute;
    top: -20px;
    left: 10px;
    color: white;
    border-radius: 3px;
    box-shadow: 0 2px 8px rgb(120,120,120);
    display: flex;
    flex-direction: row;
}


.table-header li 
{
    font-weight: bolder;
}

#tbody td:nth-child(6)
{
    cursor: pointer;
}



.justificatif
{
    width: 100%;
    height: 90mm;
}


@media (min-width:1081px)
{
    #info
    {
        margin-top: -80px;
        margin-left: -20%;
    }
    
    .modal-virement
    {
        width: 160%;
    }


    .content
    {
        margin-left: 25%;
        width: 73%;
    }

    .card
    {
        top: 8mm;
    }

    .card-content
    {
        height:476px;
        
    }

    .table-header
    {
        width: 98%;
     }

    .table-header li
    {
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 30px;
        border-style: none;
        text-decoration: none;
        list-style: none;
    }



    .table-header li:nth-child(1)
    {
        width: 15%;
        margin-left: 1%;
    }


    .table-header li:nth-child(2)
    {
        width: 16%;
    }


    .table-header li:nth-child(3)
    {
        width: 21%;
    }

    .table-header li:nth-child(4)
    {
        width: 21%;
    }


    #tbody td:nth-child(1)
    {
        width: 15%;
        
        margin-left: -1%;        
    }


    #tbody td:nth-child(2)
    {
        width: 16%;
    }

    #tbody td:nth-child(3)
    {
        width:22%;
        word-break: break-all;
    }

    #tbody td:nth-child(4)
    {
        width:22%;
    }

    #tbody td:nth-child(5)
    {
       width: 22%;
    }
    #tbody td:nth-child(6)
    {
       
       width: 5%;
    }

}


@media (max-width:1080px)
{

    #info
    {
        margin-top: -80px;
    }
    
    .modal-virement
    {
        width: 100%;
    }

    .content
    {
        margin-left: 2%;
        width: 96%;
    }

    .card
    {
        top: 8mm;
    }

    .card-content
    {
        height:476px;
        
    }

    .table-header
    {
        width: 98%;
    }

    .table-header li
    {
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 30px;
        border-style: none;
        text-decoration: none;
        list-style: none;
    }

    .table-header li:nth-child(1)
    {
        width: 15%;
        margin-left: 1%;
    }


    .table-header li:nth-child(2)
    {
        width: 16%;
    }


    .table-header li:nth-child(3)
    {
        width: 21%;
    }

    .table-header li:nth-child(4)
    {
        width: 21%;
    }


    #tbody td:nth-child(1)
    {
        width: 15%;
        
        margin-left: -1%;        
    }


    #tbody td:nth-child(2)
    {
        width: 16%;
    }

    #tbody td:nth-child(3)
    {
        word-break: break-all;
        width:22%;
    }

    #tbody td:nth-child(4)
    {
        width:22%;
    }

    #tbody td:nth-child(5)
    {
       width: 22%;
    }
    #tbody td:nth-child(6)
    {
       
       width: 5%;
    }

}


@media (max-width:915px)
{

    #info
    {
        margin-top: -80px;
    }
    
    .modal-virement
    {
        width: 100%;
    }

    .content
    {
        margin-left: 2%;
        width: 96%;
    }


    .card
    {
        top: 8mm;
    }


    .card-content
    {
        height:476px;
        
    }


    .table-header
    {
        width: 98%;
    }


    .table-header li
    {
        font-size: 16px;
        padding-top: 20px;
        padding-bottom: 30px;
        border-style: none;
        text-decoration: none;
        list-style: none;
    }

    .table-header li:nth-child(1)
    {
        width: 17%;
        margin-left: 1%;
    }


    .table-header li:nth-child(2)
    {
        width: 16%;
    }


    .table-header li:nth-child(3)
    {
        width: 20%;
    }

    .table-header li:nth-child(4)
    {
        width: 20%;
    }


    #tbody td:nth-child(1)
    {
        width: 15%;
        
        margin-left: -1%;        
    }


    #tbody td:nth-child(2)
    {
        width: 16%;
    }

    #tbody td:nth-child(3)
    {
        word-break: break-all;
        width:22%;
    }

    #tbody td:nth-child(4)
    {
        width:22%;
    }

    #tbody td:nth-child(5)
    {
       width: 22%;
    }
    #tbody td:nth-child(6)
    {
       width: 5%;
    }

}



@media (max-width:762px)
{
    #info
    {
        margin-top: -80px;
    }
    
    .modal-virement
    {
        width: 100%;
    }
    body 
    {
        overflow-x: scroll
    }

    .content
    {
        margin-left: 2%;
        width: 190mm;
    }


    .card
    {
        top: -1mm;
        overflow-y: visible;
    }


    .card-content
    {
        margin-top: -40px;
        width: 195mm;
        height:476px;
        overflow-y: scroll;
    }


    .table-header
    {
        width: 175mm;
    }


    .table-header li
    {
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-style: none;
        text-decoration: none;
        list-style: none;
    }



    .table-header li:nth-child(1)
    {
        width: 20%;
    }


    .table-header li:nth-child(2)
    {
        width: 18%;
    }


    .table-header li:nth-child(3)
    {
        width: 24%;
    }
    .table-header li:nth-child(4)
    {
        width: 19%;
    }


    #tbody td 
    {
        font-size: 13px;
    }

    #tbody td:nth-child(1)
    {
        width: 15%;  
    }


    #tbody td:nth-child(2)
    {
        width: 14%;
    }


    #tbody td:nth-child(3)
    {
        width:20%;
        word-break: break-all;
    }


    #tbody td:nth-child(4)
    {
        width:15%;
    }

    #tbody td:nth-child(5)
    {
       width: 13%;
    }
    #tbody td:nth-child(6)
    {
       width: 5%;
    }
}