<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  
</head>
<body> 

<!--modal contenant des infos sur le compte et le client choisit-->
<div id="info" class="modal fade info2" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content modal-virement">
                <div class="modal-header">
                    <p>Infomations sur le virement</p>
                </div>
                <div class="modal-body">
                    <img [src]="Virement['Justificatif']">
                    <div class="row">
                        <div class="form-group label-floating col-md-4">
                                <label class="control-label">Code du Virement</label>
                                <input type="text" class="form-control" [(ngModel)]="Virement['Code']" 
                                readonly>
                        </div>

                        <div class="form-group label-floating col-md-4">
                                <label class="control-label">Date</label>
                                <input type="text" class="form-control" [(ngModel)]="Virement['Date']" 
                                readonly>
                        </div>

                        <div class="form-group label-floating col-md-4">
                                <label class="control-label">Montant du virement</label>
                                <input type="text" class="form-control" [(ngModel)]="Virement['Montant']" 
                                readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group label-floating col-md-4">
                            <label class="control-label">Emetteur</label>
                            <input type="text" class="form-control" [(ngModel)]="Virement['NomEmetteur']" 
                            readonly>
                        </div>

                        <div class="form-group label-floating col-md-4">
                                <label class="control-label">Banque de l'emeteur</label>
                                <input type="text" class="form-control" [(ngModel)]="Virement['BanqueEmmeteur']" 
                                readonly>
                        </div>

                        <div class="form-group label-floating col-md-4">
                                <label class="control-label">Compte emeteur</label>
                                <input type="text" class="form-control" [(ngModel)]="Virement['CompteEmmetteur']" 
                                readonly>
                        </div>

                        
                    </div>
                    
                    <div class="row">
                        <div class="form-group label-floating col-md-4">
                                <label class="control-label">Destinataire</label>
                                <input type="text" class="form-control" [(ngModel)]="Virement['NomDestinataire']" 
                                readonly>
                        </div>
                        
                        <div class="form-group label-floating col-md-4">
                                <label class="control-label">Banque du destinataire</label>
                                <input type="text" class="form-control" [(ngModel)]="Virement['BanqueDestinataire']" 
                                readonly>
                        </div>

                        <div class="form-group label-floating col-md-4">
                                <label class="control-label">Compte destinataire</label>
                                <input type="text" class="form-control" [(ngModel)]="Virement['CompteDestinataire']" 
                                readonly>
                        </div>
                    </div>

                        <div class="row">    
                            <label class="control-label Motif">Motif</label>
                        </div>    
                            <textarea rows="6" cols="50" class="col-md-12"
                            [(ngModel)]="Virement['Motif']" readonly></textarea>
                </div>
                <div class="form-footer">
                    <div class="alert" [ngClass]="{'alert-success': success===true, 'alert-danger':success===false}">
                        {{textSuccess}}
                    </div>

                    <button type="button" class="btn btn-danger pull-left"
                    (click) = "valider(Virement['Code'],0)">
                        Bloquer
                    </button>

                    <button type="button" class="btn btn-success pull-right" id="valider"
                    (click) = "valider(Virement['Code'],1)">
                        Valider
                    </button>

                </div>
            </div>
        </div>
    </div>

 
<!--Table des virements non traités -->
    <div class="container-cards">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-content ">
                                    <br>
                                    <br>
                                    <div class="alert"
                                    [ngClass]="{'alert-danger':successGet===false}">
                                        {{textFailed}}
                                    </div>
                                    <table class="table">
                                        <thead class="table-header">
                                        
                                            <li>Date</li>
                                            <li>Montant</li>
                                            <li>Motif</li>
                                            <li>Emetteur</li>
                                            <li>Destinataire</li>
                                        </thead>
                                                
                                        <tbody id="tbody">
                                            <tr *ngFor="let virement of virements">
                                                
                                                <td>{{virement.Date}}</td>
                                                <td>{{virement.Montant}}</td>
                                                <td>{{virement.Motif}}</td>
                                                <td>{{virement.NomEmetteur}}</td>
                                                <td>{{virement.NomDestinataire}}</td>
                                                <td>
                                                    <i class="material-icons" data-toggle="modal" 
                                                    data-target="#info"
                                                    (click)="getVirementInfo(virement.Code)">
                                                        visibility
                                                    </i>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>201802041053</td>
                                                <td>1 120 000.00</td>
                                                <td>Envoie d'agent pour financer une campagne</td>
                                                <td>Ikhadallem Lotfi</td>
                                                <td>Ait ali yahia dahbia</td>
                                                <td>
                                                    <i class="material-icons" data-toggle="modal" 
                                                    data-target="#info"
                                                    (click)="getVirementInfo(virement.Code)">
                                                        visibility
                                                    </i>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>201802041053</td>
                                                <td>1 120 000.00</td>
                                                <td>Envoie d'agent pour financer une campagne</td>
                                                <td>Ikhadallem Lotfi</td>
                                                <td>Ait ali yahia dahbia</td>
                                                <td>
                                                    <i class="material-icons" data-toggle="modal" 
                                                    data-target="#info"
                                                    (click)="getVirementInfo(virement.Code)">
                                                        visibility
                                                    </i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>201802041053</td>
                                                <td>1 120 000.00</td>
                                                <td>Envoiuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu</td>
                                                <td>Ikhadallem Lotfi</td>
                                                <td>Ait ali yahia dahbia</td>
                                                <td>
                                                    <i class="material-icons" data-toggle="modal" 
                                                    data-target="#info"
                                                    (click)="getVirementInfo(virement.Code)">
                                                        visibility
                                                    </i>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>