.content-fluid
{
    display: flex;
    flex-direction: row;
}


.card
{
    width: 30%;
    margin-left: 10%;
    height: 42em;
}


.envoie
{
    margin-left: 20%;
    margin-top: 5%;
}

.form-group
{
    margin-left: 20%;
    width: 60%;
}


#submit-log
{
    margin-top: 5%;
}






.fond
{
    margin-left: 10%;
    background-image: url("../../assets/img/fondAuth.jpg") ;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    width: 55%;
    height: 47.3em;
}


.btn
{
    margin-top: -5%;
}




.logo
{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto ;
}