

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="content">
    <div class="card">
      <div class="card-header" data-background-color="red">
        <h4>Créer un Compte Banquier</h4>
        <p>Ajoutez un nouveau Banquier à THARWA</p>
      </div>
      <div class="card-content">
        <form [formGroup] = "formAddBanquier">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group label-floating ">
                  <label class="control-label">Adresse E-mail</label>
                  <input type="text" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" 
                    formControlName ="mail" name="mail" class="form-control" [(ngModel)]='mail'>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group label-floating">
                  <label class="control-label">Nom</label>
                  <input type="text" formControlName ="nom" name="nom" 
                    pattern="[A-Za-z]+" class="form-control"[(ngModel)]='nom'>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group label-floating ">
                  <label class="control-label">Prénom</label>
                  <input type="text" formControlName ="prenom" name="prenom" 
                    pattern="[A-Za-z]+" required class="form-control"[(ngModel)]='prenom'>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
              <div class="col-md-6"> 
                <div class="form-group label-floating ">
                    <label class="control-label">Adresse</label>
                    <input type="text" formControlName ="adresse" name="adr" 
                    required class="form-control"[(ngModel)]='adr'>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group label-floating ">
                    <label class="control-label">Téléphone</label>
                    <input type="text" formControlName ="tel" name="tel" 
                      pattern="[0-9]{10}"required class="form-control"[(ngModel)]='tel'>
                </div>
              </div>
          </div>
          
          <div class="row">
            <div class="col-md-3">
              <div class="form-group label-floating ">
                  <label class="control-label">Mot de passe</label>
                  <input type="password" class="form-control" required name="pass"
                  [(ngModel)]='pass' formControlName ="pass" >
              </div>
            </div>
          </div>

          <button [disabled]="formAddBanquier.invalid" class="btn pull-right" 
          data-background-color="red" (click)="addBanquier()">
            Ajouter
          </button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>