

.card
{
    width:95%; 
}


.label-file {
    width: 100%;
    height: 100%;
    cursor: pointer;
    color: white;
}

.input-file 
{   
    display: none;
}


@media (min-width:1081px)
{
    .content
    {
        margin-left: 25%;
        width: 75%;
    }

    .card
    {
        top: 8mm;
    }
}

@media (max-width:1080px)
{
    .content
    {
        margin-left: 2%;
        width: 98%;
    }
}

@media (max-width:792px)
{
    
}