
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body> 
    <div class="content">
        <div class="card">
            <thead class="table-header">
                <li>Date</li>
                <li>Emmetteur</li>
                <li>Compte Emetteur</li>
                <li>Destinataire</li>
                <li>Compte Destinataire</li>
                <li>Montant</li>
                <li>Motif</li>
                <li>Statut</li>
            </thead>
            <div class="card-content">
                    <div class="alert" 
                    [ngClass]="{'alert-danger':successGet===false, 'invisible':successGet!=false}">
                        {{textFailed}}
                    </div>
                <br>
                <br>
                
                <table class="table"> 
                    <tbody id="tbody">
                        <tr *ngFor="let virement of virements" class="ligne">
                            <td>{{virement.Date}}</td>
                            <td>{{virement.NomEmetteur}}</td>
                            <td>{{virement.CompteEmmetteur}}</td>
                            <td>{{virement.NomDestinataire}}</td>
                            <td>{{virement.CompteDestinataire}}</td>
                            <td>{{virement.Montant}}</td>
                            <td>{{virement.Motif}}</td>
                            <td>{{virement.Statut}}</td> 
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</body>
</html>