
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body> 
    <div class="content">
        <div class="card">
            <thead class="table-header">
                <li>Date</li>
                <li>Emmetteur</li>
                <li>Compte Emetteur</li>
                <li>Destinataire</li>
                <li>Compte Destinataire</li>
                <li>Montant</li>
                <li>Motif</li>
                <li>Statut</li>
            </thead>
            <div class="card-content">
                <br>
                <br>
                <table class="table"> 
                    <tbody id="tbody">
                        <tr *ngFor="let virement of virements" class="ligne">
                            <td>{{virement.Date}}</td>
                            <td>{{virement.NomEmetteur}}</td>
                            <td>{{virement.CompteEmmetteur}}</td>
                            <td>{{virement.NomDestinataire}}</td>
                            <td>{{virement.CompteDestinataire}}</td>
                            <td>{{virement.Montant}}</td>
                            <td>{{virement.Motif}}</td>
                            <td>{{virement.Statut}}</td> 
                        </tr>

                        <tr class="ligne">
                                <td>2018-02-12 T22:30:12Z</td>
                                <td>Ikhadallem Lotfi</td>
                                <td>THW00004EUR</td>
                                <td>Ikhadallem Lotfi</td>
                                <td>THW0005USD</td>
                                <td>12 000.00</td>
                                <td>envoie d'argent pour financer une campagne</td>
                                <td>rejeté</td>
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</body>
</html>