#tbody td 
{
    text-align: left;
    font-weight: bolder;
}

.table-header li 
{
    font-weight: bolder;
}


@media (min-width:1081px)
{
    .content
    {
        margin-left: 25%;
        width: 73%;
    }

    .card
    {
        top: 8mm;
    }

    .card-content
    {
        height:476px;
        overflow-y: scroll;
    }

    .table-header
    {
        background-color: rgb(42, 177, 211);
    
        border-style: none;
        position: absolute;
        width: 98%;
        top: -20px;
        left: 10px;
        color: white;
        border-radius: 3px;
        box-shadow: 0 2px 8px rgb(120,120,120);
        display: flex;
        flex-direction: row;
    }

    .table-header li
    {
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 30px;
        border-style: none;
        text-decoration: none;
        list-style: none;
    }



    .table-header li:nth-child(1)
    {
        width: 6.5%;
        margin-left: 1%;
    }


    .table-header li:nth-child(2)
    {
        width: 19%;
    }


    .table-header li:nth-child(3)
    {
        width: 33%;
    }

    #tbody td:nth-child(1)
    {
        width: 1%;
        margin-left: -1%;        
    }


    #tbody td:nth-child(2)
    {
        width: 20%;
    }

    #tbody td:nth-child(3)
    {
        width:35%;
    }

    #tbody td:nth-child(4)
    {
        width:25%;
    }

    #tbody td:nth-child(5),
    #tbody td:nth-child(6)
    {
        position: absolute;
      
    }

    #tbody td:nth-child(6)
    {
        margin-left: 8%;
    }




    .add-banque
    {
        position: fixed;
        left: 97%;
        top: 95%;
        text-decoration: bold;
        
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 31px;
        text-align: center;
        background-color: rgb(42, 177, 211);
    }


    .add-banque a
    {
        margin-top: 50px;
        color: white;
    }

}


@media (max-width:1080px)
{
    .content
    {
        margin-left: 2%;
        width: 96%;
    }

    .card
    {
        top: 8mm;
    }

    .card-content
    {
        height:476px;
        overflow-y: scroll;
    }

    .table-header
    {
        background-color: rgb(42, 177, 211);
        border-style: none;
        position: absolute;
        width: 98%;
        top: -20px;
        left: 10px;
        color: white;
        border-radius: 3px;
        box-shadow: 0 2px 8px rgb(120,120,120);
        display: flex;
        flex-direction: row;
    }

    .table-header li
    {
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 30px;
        border-style: none;
        text-decoration: none;
        list-style: none;
    }



    .table-header li:nth-child(1)
    {
        width: 6.5%;
        margin-left: 1%;
    }


    .table-header li:nth-child(2)
    {
        width: 19%;
    }


    .table-header li:nth-child(3)
    {
        width: 33%;
    }



    #tbody td:nth-child(1)
    {
        width: 1%;
        margin-left: -1%;        
    }


    #tbody td:nth-child(2)
    {
        width: 20%;
    }

    #tbody td:nth-child(3)
    {
        width:35%;
    }

    #tbody td:nth-child(4)
    {
        width:25%;
    }

    #tbody td:nth-child(5),
    #tbody td:nth-child(6)
    {
        position: absolute;
      
    }

    #tbody td:nth-child(6)
    {
        margin-left: 8%;
    }




    .add-banque
    {
        position: fixed;
        left: 97%;
        top: 95%;
        text-decoration: bold;
        
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 31px;
        text-align: center;
        background-color: rgb(42, 177, 211);
    }


    .add-banque a
    {
        margin-top: 50px;
        color: white;
    }

}


@media (max-width:915px)
{
    .content
    {
        margin-left: 2%;
        width: 96%;
    }


    .card
    {
        top: 8mm;
    }


    .card-content
    {
        height:476px;
        overflow-y: scroll;
    }


    .table-header
    {
        background-color: rgb(42, 177, 211);
        border-style: none;
        position: absolute;
        width: 98%;
        top: -20px;
        left: 10px;
        color: white;
        border-radius: 3px;
        box-shadow: 0 2px 8px rgb(120,120,120);
        display: flex;
        flex-direction: row;
    }


    .table-header li
    {
        font-size: 16px;
        padding-top: 20px;
        padding-bottom: 30px;
        border-style: none;
        text-decoration: none;
        list-style: none;
    }



    .table-header li:nth-child(1)
    {
        width: 6.5%;
        margin-left: 1%;
    }


    .table-header li:nth-child(2)
    {
        width: 20%;
    }


    .table-header li:nth-child(3)
    {
        width: 33%;
    }


    #tbody td 
    {
        font-size: 15px;
    }

    #tbody td:nth-child(1)
    {
        width: 1%;
        margin-left: -1%;        
    }


    #tbody td:nth-child(2)
    {
        width: 19%;
    }


    #tbody td:nth-child(3)
    {
        width:35%;
    }


    #tbody td:nth-child(4)
    {
        width:25%;
    }


    #tbody td:nth-child(5),
    #tbody td:nth-child(6)
    {
        position: absolute;
      
    }

    #tbody td:nth-child(6)
    {
        margin-left: 8%;
    }




    .add-banque
    {
        position: fixed;
        left: 97%;
        top: 95%;
        text-decoration: bold;
        
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 31px;
        text-align: center;
        background-color: rgb(42, 177, 211);
    }


    .add-banque a
    {
        margin-top: 50px;
        color: white;
    }

}



@media (max-width:762px)
{
    body 
    {
        overflow-x: scroll;
    }

    .content
    {
        margin-left: 2%;
        width: 179mm;
    }


    .card
    {
        top: -1mm;
        overflow-y: visible;
    }


    .card-content
    {
        width: 179mm;
        height:476px;
        overflow-y: scroll;
    }


    .table-header
    {
        width: 165mm;
        background-color: rgb(42, 177, 211);
        border-style: none;
        position: absolute;
        top: -20px;
        left: 10px;
        color: white;
        border-radius: 3px;
        box-shadow: 0 2px 8px rgb(120,120,120);
        display: flex;
        flex-direction: row;
    }


    .table-header li
    {
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-style: none;
        text-decoration: none;
        list-style: none;
    }



    .table-header li:nth-child(1)
    {
        width: 8.5%;
        margin-left: 1%;
    }


    .table-header li:nth-child(2)
    {
        width: 20%;
    }


    .table-header li:nth-child(3)
    {
        width: 33%;
    }


    #tbody td 
    {
        font-size: 13px;
    }

    #tbody td:nth-child(1)
    {
        width: 1%;
        margin-left: -1%;        
    }


    #tbody td:nth-child(2)
    {
        width: 19%;
    }


    #tbody td:nth-child(3)
    {
        width:35%;
    }


    #tbody td:nth-child(4)
    {
        width:25%;
    }


    #tbody td:nth-child(5),
    #tbody td:nth-child(6)
    {
        position: absolute;
      
    }

    #tbody td:nth-child(6)
    {
        margin-left: 8%;
    }




    .add-banque
    {
        position: fixed;
        left: 97%;
        top: 95%;
        text-decoration: bold;
        
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 31px;
        text-align: center;
        background-color: rgb(42, 177, 211);
    }


    .add-banque a
    {
        margin-top: 50px;
        color: white;
    }
}