
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    

<!--modl qui s'affiche pour éditer les information relatives à une banque selectionné-->
    <div id="info" class="modal fade info2" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content modal-banque">
                <div class="modal-header">
                    <p>Infomations sur la banque</p>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group label-floating col-md-4">
                                <label class="control-label">Code de la banque</label>
                                <input type="text" class="form-control" [(ngModel)]="banque['code']" 
                                >
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group label-floating col-md-4">
                            <label class="control-label">Raison sociale</label>
                            <input type="text" class="form-control" [(ngModel)]="banque['raisonSoaciale']" 
                            >
                        </div>
                    </div>
                     
                    <div class="row">
                        <div class="form-group label-floating col-md-4">
                                <label class="control-label">Adresse</label>
                                <input type="text" class="form-control" [(ngModel)]="banque['adresse']" 
                                >
                        </div>
                    </div>
 
                    <div class="row">
                        <div class="form-group label-floating col-md-4">
                                <label class="control-label">E-mail</label>
                                <input type="text" class="form-control" [(ngModel)]="banque['mail']" 
                                >
                        </div>
                    </div>
                </div>
                <div class="form-footer">
                    <div class="alert" [ngClass]="{'alert-success': success===true, 'alert-danger':success===false,
                        'invisible' : success ===NULL}">
                        {{textSuccess}}
                    </div>

                    <button type="button" class="btn btn-success pull-right" id="valider"
                    (click) = "valider(Virement['Code'],1)">
                        Valider
                    </button>
                </div>
            </div>
        </div>
    </div>


<!--Modal qui s'affiche lors du clic sur le boutton de suppression de banque afin que l'utilisateur confirme
qu'il veut vraiment supprimer la banque en question-->
    <div id="warning" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content modal-banque">
                    <div class="modal-header">
                        <p>Êtes vous sûr(e) de vouloir supprimer cette banque ?</p>
                    </div>

                    <div class="alert" [ngClass]="{'alert-success': success===true, 'alert-danger':success===false,
                    'invisible' : success ===NULL}">
                        {{textSuccess}}
                    </div>
                    
                    <div class="modal-content">
                        <div class="form-footer">
                            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal"
                            (click) = "valider(Virement['Code'],1)">
                                Non
                            </button>
                            <button type="button" class="btn btn-success pull-right"
                            (click) = "valider(Virement['Code'],1)">
                                Oui
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<!--contenu de la page-->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content ">
                            <br>
                            <br> 
                            <div class="alert"
                                [ngClass]="{'alert-danger':successGet===false, 'invisible':successGet!=false}">
                                    {{textFailed}}
                                </div>
                            <table class="table">
                                
                                <thead class="table-header">
                                    <li>Code</li>
                                    <li>Raison Sociale</li>
                                    <li>Adresse</li>
                                    <li>Mail de Transfert</li>
                                </thead>
                               
                                <tbody id="tbody">
                                    <tr *ngFor="let banque of banques">
                                        <td >{{banque.Code}}</td>
                                        <td>{{banque.RaisonSocial}}</td>
                                        <td >{{banque.Adresse}}</td>
                                        <td >{{banque.Mail}}</td>
                                        <td>
                                            <i class="material-icons" data-toggle="modal" 
                                            data-target="#info"
                                            (click)="voirInfoCompte(compte.IdUser)">
                                                edit
                                            </i>
                                        </td>
                                        <td>
                                            <i class="material-icons" data-toggle="modal" 
                                            data-target="#info"
                                            (click)="voirInfoCompte(compte.IdUser)">
                                                delete
                                            </i>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td >BNA</td>
                                        <td>banque nationnale d'Algérie</td>
                                        <td >une adresse pour test 26</td>
                                        <td >mal@bna.com</td>
                                        <td>
                                            <i class="material-icons" data-toggle="modal" 
                                            data-target="#info">
                                                edit
                                            </i>
                                        </td>
                                        <td>
                                            <i class="material-icons" data-toggle="modal" 
                                            data-target="#warning"
                                            (click)="getVirementInfo(virement.Code)">
                                                delete
                                            </i>
                                        </td>
                                    </tr>
                                    <div  class="add-banque">
                                        <a routerLink="../addbanque">+</a>
                                    </div>
                                </tbody>
                            </table>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
