<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

<link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>

</head>
<body> 
    <div class="content-fluid code" id="code" [ngStyle] ="{'display': displayBlur}">
            <i class="material-icons mail">mail_outline </i>
            <p id="code-title">Vérifier votre {{mode}}</p>
            <p>On a envoyé un code a quatre chiffres à <b>{{userId}}</b></p>
            <p>Entrez le ici pour pouvoir continuer</p>
            <br>
            <div>
                <input [(ngModel)]='code[0]' type="text" maxlength="1">
                <input [(ngModel)]='code[1]' type="text" maxlength="1">
                - 
                <input [(ngModel)]='code[2]' type="text" maxlength="1">
                <input [(ngModel)]='code[3]' type="text" maxlength="1">
            </div>
            <button class="code-valider" (click)="tryDeleteBlur()">Vérifier mon code</button>
    </div>

    <div class="container-cards" [ngClass] = "{'body':getBlurState()=== true}">
        <div class="row">
                <div class="card card-stats card-dash">
                    <div class="card-header" data-background-color="orange">
                        <i class="material-icons">content_copy</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Used Space</p>
                        <h3 class="title">49/50
                            <small>GB</small>
                        </h3>
                    </div>
                </div>
                    <div class="card card-stats card-dash">
                            <div class="card-header" data-background-color="blue">
                                <i class="fa fa-twitter"></i>
                            </div>
                            <div class="card-content">
                                <p class="category">Followers</p>
                                <h3 class="title">+245</h3>
                            </div>
                            
                    </div>
            
            
                    <div class="card card-stats card-dash">
                            <div class="card-header" data-background-color="red">
                                <i class="material-icons">info_outline</i>
                            </div>
                            <div class="card-content">
                                <p class="category">Fixed Issues</p>
                                <h3 class="title">75</h3>
                            </div>
                            
                    </div> 
            
                    <div class="card card-stats card-dash">
                        <div class="card-header" data-background-color="green">
                            <i class="material-icons">store</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Revenue</p>
                            <h3 class="title">$34,24</h3>
                        </div> 
                    </div>
                
        </div>
            
        <div class="card-dash container-dash">    
            <ul class="nav nav-tabs">
                <li class="nav-items" [ngClass] = "{'activTab':selectedTab===1}" (click)="selectedTab=1">
                    <a class="link header" data-toggle="tab" href="#operation">Opérations</a>
                </li>
                <li class="nav-items" [ngClass] = "{'activTab':selectedTab===2}" (click)="selectedTab=2"> 
                    <a class="link header" data-toggle="tab" href="#commission">Commissions</a>
                </li>
            </ul>
                
                <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane container active" id="operation">
                    

                    <!--Card contenant le graphe du nombre de transactions par mois-->
                    
                    <div class=" card">
                        <div class="card-header" data-background-color="purple">
                            <h4 class="title">Opérations par Mois</h4>
                            <i class="category">Nombre d'opéarions par types et par mois</i>
                        </div>
                        <div class="ct-chart">    
                            <svg  width="100%" height="245px" class="ct-chart-line">
                                <!--Dessin de la grille du graphe ( lignes horizontales en pointillets-->
                                <g class="ct-grids">
                                    <line y1="185.625" y2="185.625" x1="50" x2="767" 
                                    class="ct-grid ct-vertical"></line>
                                    
                                    <line y1="161.25" y2="161.25" x1="50" x2="767" 
                                    class="ct-grid ct-vertical"></line>
                                    
                                    <line y1="136.875" y2="136.875" x1="50" x2="767" 
                                    class="ct-grid ct-vertical"></line>
                                    
                                    <line y1="112.5" y2="112.5" x1="50" x2="767" 
                                    class="ct-grid ct-vertical"></line>
                                    
                                    <line y1="88.125" y2="88.125" x1="50" x2="767" 
                                    class="ct-grid ct-vertical"></line>
                                    
                                    <line y1="63.75" y2="63.75" x1="50" x2="767" 
                                    class="ct-grid ct-vertical"></line>
                                    
                                    <line y1="39.375" y2="39.375" x1="50" x2="767" 
                                    class="ct-grid ct-vertical"></line>
                                </g> 
                                
                                <!--Dessin des lignes du graphe virement entre compte du même client-->
                                <g class="ct-series ct-series-a">
                                    <path [(attr.d)] = "grapheMCac" class="ct-line" name="grapheCac"/>
                                </g>

                                <!--Dessin des lignes du graphe virement entre 
                                2 clients de banques différentes (Tharwa et une autre ) -->
                                <g class="ct-series ct-series-b">
                                    <path [(attr.d)] = "grapheMExt" class="ct-line" name="grapheExt"/>
                                </g>
                                <!--Dessin des lignes du graphe virement entre 2 clients différents de tharwa-->
                                <g class="ct-series ct-series-c">
                                    <path [(attr.d)] = "grapheMThw" class="ct-line" name="grapheThw"/>
                                </g>

 

                            </svg>
                            
                            <div class="footer">
                                    <div class="legend">
                                        <i class="fa fa-circle text-info">Virement entre comptes du même client</i>
                                        <i class="fa fa-circle text-danger">Virement externe</i>
                                        <i class="fa fa-circle text-warning">Virement tharwa</i>
                                    </div>
                            </div>
                            
                        </div>
                        <div class="xlabels">
                                <span *ngFor="let month of months" class="ct-label ct-horizontal mois ct-end" 
                                style="width: 74px; height: 20px">{{month}}</span>
                        </div>
                        <div class="ylabels">
                                <span *ngFor="let nombre of nbVirsMois" class="ct-label ct-horizontal ct-end" 
                                style="width: 74px; height: 20px">{{nombre}}</span>
                        </div>
                    </div>

                    <!--Card contenant le graphe du nombre de transactions par jours de la semaine-->
                    <div class=" card">
                        <div class="card-header" data-background-color="blue">
                            <h4 class="title">Opérations par Jour</h4>
                            <i class="category">Nombre d'opéarions par types et par jour</i>
                        </div>
                        <div class="ct-chart">    
                            <svg  width="100%" height="245px" class="ct-chart-line">
                                <!--Dessin de la grille du graphe ( lignes horizontales en pointillets-->
                                <g class="ct-grids">
                                    <line y1="185.625" y2="185.625" x1="50" x2="767" 
                                    class="ct-grid ct-vertical"></line>
                                    
                                    <line y1="161.25" y2="161.25" x1="50" x2="767" 
                                    class="ct-grid ct-vertical"></line>
                                    
                                    <line y1="136.875" y2="136.875" x1="50" x2="767" 
                                    class="ct-grid ct-vertical"></line>
                                    
                                    <line y1="112.5" y2="112.5" x1="50" x2="767" 
                                    class="ct-grid ct-vertical"></line>
                                    
                                    <line y1="88.125" y2="88.125" x1="50" x2="767" 
                                    class="ct-grid ct-vertical"></line>
                                    
                                    <line y1="63.75" y2="63.75" x1="50" x2="767" 
                                    class="ct-grid ct-vertical"></line>
                                    
                                    <line y1="39.375" y2="39.375" x1="50" x2="767" 
                                    class="ct-grid ct-vertical"></line>
                                </g> 
                                <!--deltaY=23 entre 2 ligne horizontale pour 1.5mm de margin-->
                                <!--Dessin des lignes du graphe-->
                                <g class="ct-series ct-series-a">
                                    <path [(attr.d)] = "grapheJCac" class="ct-line" name="grapheJ"/>
                                </g>
                                <g class="ct-series ct-series-b">
                                    <path [(attr.d)] = "grapheJThw" class="ct-line" name="grapheJ"/>
                                </g>
                                <g class="ct-series ct-series-c">
                                    <path [(attr.d)] = "grapheJExt" class="ct-line" name="grapheJ"/>
                                </g>
                            </svg>
                            
                            <div class="footer">
                                    <div class="legend">
                                        <i class="fa fa-circle text-info">Virement CàC</i>
                                        <i class="fa fa-circle text-danger">Virement externe</i>
                                        <i class="fa fa-circle text-warning">Virement Interne</i>
                                    </div>
                            </div>
                            
                        </div>
                        <div class="xlabels">
                                <span *ngFor="let day of days" class="ct-label ct-horizontal jour ct-end" 
                                style="width: 74px; height: 20px">{{day}}</span>
                        </div>
                        <div class="ylabels">
                                <span *ngFor="let nombre of nbVirsJour" class="ct-label ct-horizontal ct-end" 
                                style="width: 74px; height: 20px">{{nombre}}</span>
                        </div>
                    </div>

                     <!--Card contenant le graphe du nombre de transactions par Annee-->
                     <div class=" card">
                            <div class="card-header" data-background-color="green">
                                <h4 class="title">Opérations par Année</h4>
                                <i class="category">Nombre d'opéarions par types et par année</i>
                            </div>
                            <div class="ct-chart">    
                                <svg  width="100%" height="245px" class="ct-chart-line">
                                    <!--Dessin de la grille du graphe ( lignes horizontales en pointillets-->
                                    <g class="ct-grids">
                                        <line y1="185.625" y2="185.625" x1="50" x2="767" 
                                        class="ct-grid ct-vertical"></line>
                                        
                                        <line y1="161.25" y2="161.25" x1="50" x2="767" 
                                        class="ct-grid ct-vertical"></line>
                                        
                                        <line y1="136.875" y2="136.875" x1="50" x2="767" 
                                        class="ct-grid ct-vertical"></line>
                                        
                                        <line y1="112.5" y2="112.5" x1="50" x2="767" 
                                        class="ct-grid ct-vertical"></line>
                                        
                                        <line y1="88.125" y2="88.125" x1="50" x2="767" 
                                        class="ct-grid ct-vertical"></line>
                                        
                                        <line y1="63.75" y2="63.75" x1="50" x2="767" 
                                        class="ct-grid ct-vertical"></line>
                                        
                                        <line y1="39.375" y2="39.375" x1="50" x2="767" 
                                        class="ct-grid ct-vertical"></line>
                                    </g> 
                                    <!--deltaY=23 entre 2 ligne horizontale pour 1.5mm de margin-->
                                    <!--Dessin des lignes du graphe-->
                                    <g class="ct-series ct-series-a">
                                        <path [(attr.d)] = "grapheACac" class="ct-line" name="grapheJ"/>
                                    </g>
                                    <g class="ct-series ct-series-b">
                                        <path [(attr.d)] = "grapheAThw" class="ct-line" name="grapheJ"/>
                                    </g>
                                    <g class="ct-series ct-series-c">
                                        <path [(attr.d)] = "grapheAExt" class="ct-line" name="grapheJ"/>
                                    </g>
                                </svg>
                                
                                <div class="footer">
                                        <div class="legend">
                                            <i class="fa fa-circle text-info">Virement CàC</i>
                                            <i class="fa fa-circle text-danger">Virement externe</i>
                                            <i class="fa fa-circle text-warning">Virement Interne</i>
                                        </div>
                                </div>
                                
                            </div>
                            <div class="xlabels">
                                    <span *ngFor="let day of days" class="ct-label ct-horizontal annee ct-end" 
                                    style="width: 74px; height: 20px">{{day}}</span>
                            </div>
                            <div class="ylabels">
                                    <span *ngFor="let nombreA of nbVirsAnnee" class="ct-label ct-horizontal ct-end" 
                                    style="width: 74px; height: 20px">{{nombreA}}</span>
                            </div>
                        </div>
                    
                    
                </div>
                <div class="tab-pane container" id="commission">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header card-chart" data-background-color="orange">
                                <div class="ct-chart" id="emailsSubscriptionChart"></div>
                            </div>
                            <div class="card-content">
                                <h4 class="title">Email Subscriptions</h4>
                                <p class="category">Last Campaign Performance</p>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">access_time</i> campaign sent 2 days ago
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</body>
</html>
    
    
