.container-dash
{
    box-shadow: 1px 1px 8px rgb(190,190,190);
    background-color: white;
    border-radius: 3px;
}

.container-graphe 
{
    overflow-x: auto;
}

.nav-items
{
    text-align: left;
    color: black;
    font-weight: bolder;
    width: 50%;
}
.nav-tabs
{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 100%;
}

.nav-header
{
    color:black;
}

.link {
    display: block;
    padding: 0.5rem 1rem;
    color: black;
  }
  
  .link:hover, .link:focus {
    text-decoration: none;
    color: red;
  }
  
  .link.disabled {
    color: #6c757d;
  }
  
  .nav-tabs .link {
    border: 1px solid transparent;
  }
  
  .nav-tabs .link.disabled {
    color: #6c757d;
    background-color: transparent;
    border-color: transparent;
  }
  
  .nav-tabs .link.active,
  .nav-tabs .nav-item.show .link {
    color:red;
  }

.link:visited
{
    color: black;
}

.activTab
{
    background-color: rgba(250, 206, 206,0.2);
    border-bottom-color: red;
    border-bottom-style: solid;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    color: red;
}

.footer .legend i
{
    margin-left: 20px;
    font-size: 15px;
    cursor: pointer;
}


svg
{
    width: 100%; height: 245px;
}

.xlabels
{
    position: absolute;
    top: 270px;
    left: 50px;
}
.xlabels .ct-label
{
    font-size: 12px;
}


.ylabels
{
    position: absolute;
    top: 23mm;
    left: 20px;
    display: flex;
    flex-direction: column;
}

.ylabels .ct-label
{
    margin-bottom: 1.2mm;
    font-size: 13px;
}



//code de validation
.code 
{
    //display: none;
    text-align: center;
    align-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    height: 45em;
    overflow-y: hidden;
    z-index: 999;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.90);
    
}
 
.mail
{
    margin-top: 2%;
}


.code i
{
    font-size: 1200%;
}


.code p 
{
    font-weight: 500px;
    font-size: 20px;
}
.code input 
{
    width: 2.5em;
    height: 4em;
    margin-right: 0.25%;
    border-radius: 10px;
    border: solid white 2px;
    background-color: rgba(150,150,150,0.9);
    color: white;
    text-align: center;
}
#code-title
{
    margin-top: 2%;
    margin-bottom: 5%;
    font-size: 350%;
}

.code-valider
{
    margin-top: 2%;
    background-color: transparent;
    border-radius: 15px;
    border : solid white 3px;
    color: white;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
}
#code a 
{
    color: rgb(60, 201, 206);
}

body
{
    overflow-x: hidden;
}



.ct-chart-line 
{
    width: 100%;  
}

@media (min-width:1081px) {
    /* For PC */


    .nav-items 
    {
        font-size: 15px;
    }

    .container-cards
    {
        align-items: center;
        margin-left: 24%;   
        margin-top: 2%;
    }

    .card-dash
    {   
        width: 22%;
        font-size: 10px;
        margin-left: 2%;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .card-footer--home
    {
        background-color:transparent;
        height: 30px;
    }

    .header
    {
        width: 100%;
        border-style: none;    
    }

    #operation 
    {
        width: 100%;
        margin-left: 2%;
    }

    .container-graphe 
    {
        width: 97%;
    }

    .header:hover
    {
        border-style: none;
    }

    .container-dash
    {
        width: 97%;
    }

    .container-dash .card // concerne les card qui conteinnent des graphes
    {
        width: 100%;
    }

    .container-cards .card-stats:nth-child(1)
    {
        margin-left: 3.5%;
    }
}

@media (max-width:1080px) {
    /* For tablets: */
    .card-dash
    {       
        width: 47%;
        font-size: 14px;
        margin-left: 2.5%;
        margin-top: 2%;
        margin-bottom: 2%;
    } 

    .container-dash
    {
        width: 95%;
        margin-left: 2%;
    }

    #operation 
    {
        margin-left: 5%;
    }
    .container-graphe
    {
        margin-left: -2%;
        width: 100%;        
    }

    .container-dash .card
    {
        width: 100%;
    }

}


@media (max-width:890px) {
    /* For tablets: */
    .card-dash
    {       
        width: 47%;
        font-size: 14px;
        margin-left: 2.5%;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .container-dash
    {
        width: 95%;
        margin-left: 2%;
    }

    #operation 
    {
        margin-left: 5%;
    }

    .container-graphe
    {
        margin-left: -2%;
        width: 100%;        
    }

    .container-dash .card
    {
        width: 115%;
    }

}



@media (max-width:762px){
    /* For mobile phones: */
    .card-dash
    {
        width: 95%;
        margin-left: 2.5%;
        font-size: 10px;
        margin-top: 5mm;
        margin-bottom: 2mm;
    }

    .container-dash
    {
        width: 97%;
        margin-left: 2%;
    }

    #operation 
    {
        width: 95%;
        margin-left: 5%;
    }

    #operation .card-header
    {
        width: 200mm;
    }

    .container-graphe
    {
        width: 99%;        
    }


    .container-dash .card
    {
        width: 225mm;
    }

    .header
    {
        width: 500mm;
        border-style: none;    
    }

}




.xlabels .mois
{
    margin-right: 43px;
}

.xlabels .jour
{
    margin-right: 70px;
}

.xlabels .annee
{
    margin-right: 72px;
}





